@using Vitamin.Core
@model Vitamin.Web.Models.SignInViewModel
@{ Layout = null; }


<!DOCTYPE html>
<html>
<head>
    <title>
        Admin Sign In
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <partial name="_Favicons" />
    <link href="https://www.yycoding.xyz/css/mooglade-css-bundle.min.css" rel="stylesheet" asp-append-version="true" />
    <environment exclude="Development">
        <script src="https://www.yycoding.xyz/js/dist/app-bundle.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/dist/app-bundle.js" asp-append-version="true"></script>
    </environment>
</head>
<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <div class="card">
                    <h6 class="card-header">"Sign In"</h6>
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Username"></label>
                                <input asp-for="Username" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" required />
                            </div>
                            <input type="submit" value="Sign In" class="btn btn-success float-right" />
                        </form>
                    </div>
                </div>
                <p class="text-muted mt-4 small text-center">
                    Moonglade @Utils.AppVersion
                </p>
            </div>
        </div>
    </div>
</body>
</html>