@using Vitamin.Core
@model SignInViewModel
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <title>
        Admin Sign In
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    @*<link href="http://139.224.106.142/css/mooglade-css-bundle.min.css" rel="stylesheet" asp-append-version="true" />
        <environment exclude="Development">
            <script src="http://139.224.106.142/js/dist/app-js-bundle.min.js" asp-append-version="true"></script>
        </environment>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link type="image/svg" href="~/img/bk.svg" />
    <style>
        html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}


    </style>
</head>
<body  style="background-image: url(/img/bk.svg)">
    <form class="form-signin" method="post">
        <div class="mb-4">
            <img class="mb-4" src="" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
            @*<p style="float:left">@Html.ValidationSummary() <div asp-validation-summary="All" class="text-danger"></div></p>*@

        </div>

        <div class="form-label-group">

            <input asp-for="Username" class="form-control" required />
  
        </div>

        <div class="form-label-group">
            
            <input asp-for="Password" class="form-control" required />
        </div>

        <input type="submit" value="Sign In" class="w-100 btn btn-lg btn-primary btn-block" />
      
        <p class="mt-5 mb-3 text-muted text-center">©@Utils.AppVersion</p>
    </form>


</body>


@*<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <div class="card">
                    <h6 class="card-header">Sign In</h6>
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Username"></label>
                                <input asp-for="Username" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" required />
                            </div>
                            <input type="submit" value="Sign In" class="btn btn-success float-right" />
                        </form>
                    </div>
                </div>
                <p class="text-muted mt-4 small text-center">
                    Moonglade @Utils.AppVersion
                </p>
            </div>
        </div>
    </div>
</body>*@




</html>