@using Vitamin.ToolKits
@model SignInViewModel
@{ Layout = null; }

<html lang="en" class="fontawesome-i2svg-active fontawesome-i2svg-complete">
<head>
    <title>Admin Sign In</title><!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin Sign In">
    <link rel="shortcut icon" href="favicon.ico" asp-append-version="true"><!-- FontAwesome JS-->
    <link href="~/css/vitamin-bundle.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body class="app app-login p-0">
    <div class="row g-0 app-auth-wrapper">
        <div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5">
            <div class="d-flex flex-column align-content-end">
                <div class="app-auth-body mx-auto">
                    <div class="app-auth-branding mb-4">
                        <a class="app-logo" href="index.html">
                            <img class="logo-icon mr-2" src="/img/app-logos.svg" alt="logo">
                        </a>
                    </div>
                    <h2 class="auth-heading text-center mb-5">Log in to Vitamin</h2>
                    <div class="auth-form-container text-left">

                        <form class="auth-form login-form" method="post">
                            <div class="mb-3">
                                <input asp-for="Username" class="form-control" required placeholder="Username" />

                            </div>
                            <!--//form-group-->
                            <div class="password mb-3">
                                <input asp-for="Password" class="form-control signin-password" placeholder="Password" required />
                                <!--</div>-->
                                <!--//extra-->
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <!--//form-group-->
                            <div class="text-center">
                                <input type="submit" value="Sign In" class="btn app-btn-primary btn-block theme-btn mx-auto" />
                            </div>
                        </form>

                    </div>
                    <!--//auth-form-container-->
                </div>
                <!--//auth-body-->
                <footer class="app-auth-footer">
                    <div class="container text-center py-3">
                        <small class="copyright">
                            @*@Html.Raw(Utils.FormatCopyright2Html(BlogConfig.GeneralSettings.Copyright)) <br />*@
                            Vitamin @Utils.AppVersion
                        </small>
                    </div>
                </footer>
                <!--//app-auth-footer-->
            </div>
            <!--//flex-column-->
        </div>
        <!--//auth-main-col-->
        <div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
            <div class="auth-background-holder"></div>
            <div class="auth-background-mask"></div>
            <div class="auth-background-overlay p-3 p-lg-5">
                <div class="d-flex flex-column align-content-end h-100">
                    <div class="h-100"></div>
                    <div class="overlay-content p-3 p-lg-4 rounded">
                        <h5 class="mb-3 overlay-title">Welcome to Vitamin</h5><div>Developed by <a href="https://github.com/jchhh912">Chenghui Jiang</a>.</div>
                    </div>
                </div>
            </div><!--//auth-background-overlay-->
        </div><!--//auth-background-col-->
    </div>
    <!--//row-->
</body>
</html>